header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
}

body {
    margin: 0;
}

main {
    margin: 0 auto;
    padding: 0 2rem;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.nav-ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-lnk, .header-lnk {
    padding: 0 0.5rem;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 3rem 1rem 0.25rem;
}

.news {
    border-style: solid;
    border-width: 1px;
    margin: 1rem;
    overflow: auto;
}

.news::after {
    content: "";
    clear: both;
    display: table;
}

.news .date, 
.news .content {
    margin: 0.5rem 1.25rem 1.25rem;
}

.news .content::first-letter {
    float: left;
}

.news h2,
.race h2 {
    margin:0;
    padding: 0.5rem 1rem 0;
}

.family {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;    
}

.family h3 {
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0.5rem 0.5rem 0;
    margin: 0;
}

.family-full-width {
    grid-column: 1/-1;
    padding: 0;
    margin: 0;
}

.genus {
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
}

.genus h4 {
    padding: 0.25rem 0.5rem 0;
    margin: 0;
}

.genus p{
    margin: 0.5rem;
}

.form {
    padding: 1rem 2rem;
    margin: 0 auto;
}

.form * {
    margin: 0;
    box-sizing: border-box;
}

.fields {
    width: 100%;
}

.form .fields {
    margin-top: 0.5rem;
}

.form .fields:first-child {
    margin-top: 0;
}

.fields input,
.fields select,
.fields textarea {
    width: 100%;
    padding: 0.25rem;
}

.fields textarea {
    resize: vertical;
}

.fields input {
    border-width: 1px;
    border-style: solid;
}

.fields label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form .non-fields {
    width: 100%;
    margin-top: 1rem;
}

.non-fields button {
    width: 100%;
    padding: 0.25rem;
    border-width: 1px;
    border-style: solid;
}

.non-fields .button {
    border-width: 1px;
    border-style: solid;
}

.non-fields .button a,
.non-fields .button a:focus,
.non-fields .button a:visited {
    display: block;
    padding: 0.25rem;
}

@media only screen and (min-width: 40rem) {
    .form {
      width: 25rem;
    }
}
