:root {
    --color-logo: #ffa200;
    --color-logo-dark: #ff6f00;
    --color-logo-light: #ffcd00;
}

html {
    background: white;
    color: black;
}

button, .button {
    background: var(--color-logo);
    color: white;
}

a, a:visited, a:focus {
    color: black;
}

header {
    background-image: linear-gradient(to right, var(--color-logo-dark) 25%,var(--color-logo) 75%);
}

.nav {
    background-image: linear-gradient(to bottom left, var(--color-logo-light), white 50%);
}