:root {
    --color-logo: #ffa200;
}

html {
    background: white;
    color: black;
}

button, .button {
    background: var(--color-logo);
    color: white;
}

a, a:visited, a:focus {
    color: black;
}

header {
    background-image: linear-gradient(to right, var(--color-logo), white 75%);
}